*
{
    margin: 0px;
    padding: 0px;

}

.csklogo
{
    margin-top: -20px;
    margin-bottom: -25px;
}

.trophy
{
    margin-left: 650PX;
}
.card
{
    margin-top: 50px;
    margin-left:50px;
}

.nav-links
{
    text-decoration: none;
    
}

.drop
{
    text-decoration: none;
}

.card-deck-1
{
    margin-left:320px;
    margin-right:800px;
    margin-top:-420px;
    margin-bottom: -1200px;
}

.card-deck-2
{
    margin-left:680px;
    margin-right:450px;
    margin-top:-1605px;
}

.card-deck-3
{
    margin-left:1030px;
    margin-right:100px;
    margin-top:-1538px;
}




